*~
*.csv
*.dat
*.pdf
#*.fig
*.asv
*.mat
*.zip
html/js/JobQueue.js
html/js/Procs.js
html/js/Summary.js
html/js/Func.js
html/sim
results*/*
html_*
dynamic_irc*
static_irc*
*_*_*_freq*sleep
*_*_*_freq
html/run*
figs/*
power_threshold/*.fig
